<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    {# <title>{{ renderData.title or title or metadata.title }}</title> #}

   <title>
        {%- if title -%}
            {{title}} | {{metadata.title}}
        {%-else-%}
            {{metadata.title}} | {{metadata.strapline}}
        {%- endif -%}
    </title>
    <meta name="description" content="{% block description %}{{metadata.description}}{% endblock %}">
    <meta name="robots" content="index,follow">
    <meta name="generator" content="Eleventy">
    <meta name="subject" content="Pretty much anything">

    {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{metadata.url}}{{page.url}}">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">

    <!--Schema-->
    <link rel="author" href="{{metadata.url}}">
    <link rel="publisher" href="{{metadata.url}}">
    <meta itemprop="name" content="{{title}}">
    <meta itemprop="description" content="{{ description or metadata.description }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{metadata.url}}{{page.url}}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:site_name" content="{{metadata.title}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:image" content="{{metadata.url}}{{ogImage or metadata.defaultOgImage}}">
    <meta property="article:author" content="{{metadata.url}}">
    {%- endblock -%}

    <meta name="HandheldFriendly" content="True"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700|Droid+Serif:400,700|Pacifico" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="https://use.typekit.net/ooa0ozr.css"/>

    {% set css %}
      {% include "site/_style/prism-ghcolors.css" %}
      {% include "site/_style/styles.css" %}
    {% endset %}
    <style>{{ css | cssmin | safe }}</style>

  </head>
  <body {% if templateClass %} class="{{ templateClass }}"{% endif %}>

    <nav class="main-nav">
      <ul class="nav" role="menu">
        {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
          <li class="nav-item">
            <a href="{{ metadata.externalHomeUrl }}">Home</a>
          </li>
      </ul>
    </nav>

    {{ content | safe }}

  </body>
</html>