---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div style="display: flex; flex-direction: column; flex: 1 1 0; align-items: center; justify-content: center; margin-bottom: 4em">
  <a style="display: flex; background: none; margin-bottom: 1em" href="{{ '/' | url }}">
    <img style="width: 4em" src="{{ '/images/lambda.svg' | url }}" alt="Blog Logo">
  </a>
  <h1 style="display: block">Content Not Found</h1>
</div>
