{% for post in postslist | reverse %}
  <article class="post">
      <header class="post-header">
          <h2 class="post-title"><a href="{{ post.url | url }}" title="{{ post.data.title }}">{% if post.data.title %}{{ post.data.title }}{% else %}{{ post.url }}{% endif %}</a></h2>
      </header>
      <section class="post-excerpt">
          <p>{{ post.templateContent | striptags(true) | truncate(280) }}</p>
      </section>
      <footer>
          <ul class="post-meta">
              <li><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></li>
          </ul>
      </footer>
  </article>
{% endfor %}
